In [1]:
from bs4 import BeautifulSoup
import requests

In [5]:
# scraping aka collecting data 
start_url ="https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=Data+Analyst&txtLocation="
paging = "&sequence={}"

job_titles = []
company_names = []
experiences = []
locations = []
descriptions = []
skills_sets = []

for page in range(1,11):
    print("scraping page : "+str(page))
    html_text = requests.get(start_url+paging.format(page)).text
    bs = BeautifulSoup(html_text,"lxml")
    jobs = bs.find_all("li", class_ = "clearfix job-bx wht-shd-bx")
    for i,job in enumerate(jobs):
        job_title = job.find("header", class_ = "clearfix").h2.text.replace("  ","").replace("\n","")
        job_titles.append(job_title)
        #print("job_title : "+job_title)
        company_name = job.find("header", class_ = "clearfix").h3.get_text(strip=True)
        company_names.append(company_name)
        #print("company_name : "+company_name)
        experience = job.find("ul", class_ = "top-jd-dtl clearfix").li.get_text(strip=True).replace("card_travel","")
        experiences.append(experience)
        #print("experience : "+experience)
        location = job.find("ul", class_ = "top-jd-dtl clearfix").select('li')[1].get_text(strip=True).replace("location_on","")
        locations.append(location)
        #print("location : "+location)
        description = job.find("ul", class_ = "list-job-dtl clearfix").li.a["href"]
        descriptions.append(description)
        #print("description : "+description)
        skills = job.find("ul", class_ = "list-job-dtl clearfix").select("li")[1].span.text.replace("  ","").replace("\n","")
        skills_sets.append(skills)
        #print("skills : "+skills)
        print("job {} scraped".format(i))
    print("page {} scraped".format(page))
print("scraping process in done")

scraping page : 1
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 1 scraped
scraping page : 2
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 2 scraped
scraping page : 3
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 3 scraped
scraping page : 4
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 4 scraped
scraping page : 5
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 5 scraped
scraping page : 6
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 6 scraped
scraping page : 7
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 7 scraped
scraping page : 8
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 8 scraped
scraping page : 9
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 9 scraped
scraping page : 10
job 0 scraped
job 1 scraped
job 2 scraped
job 3 scraped
job 4 scraped
job 5 scraped
job 6 scraped
job 7 scraped
job 8 scraped
job 9 scraped
job 10 scraped
job 11 scraped
job 12 scraped
job 13 scraped
job 14 scraped
job 15 scraped
job 16 scraped
job 17 scraped
job 18 scraped
job 19 scraped
job 20 scraped
job 21 scraped
job 22 scraped
job 23 scraped
job 24 scraped
page 10 scraped
scraping process in done

In [32]:
#save the data into CSV file for future work
dict = {"job_titles": job_titles,"company_names": company_names,"experiences": experiences,"locations": locations,"descriptions_url": descriptions,"skills_sets":skills_sets}

import pandas as pd

df = pd.DataFrame(dict)
df.to_csv("scraping data analyst jobs.csv")
print("scraped data is loaded to scraping data analyst jobs.csv")

scraped data is loaded to scraping data analyst jobs.csv

In [36]:
#load data for cleaning process aka transforming
df = pd.read_csv("scraping data analyst jobs.csv", index_col=[0])
df

,job_titles,company_names,experiences,locations,descriptions_url,skills_sets
0,Data Analyst,infoanalytica consulting pvt ltd,5 - 8 yrs,Ahmedabad,https://www.timesjobs.com/job-detail/data-anal...,"\r\rbusiness rules,sql,Data Analyst"
1,Data Analyst,ikomet Technology Solutions Pvt. Ltd.,0 - 3 yrs,Chennai,https://www.timesjobs.com/job-detail/data-anal...,"\r\rmacros,visualization,bi,data analyst,vba\r\r"
2,Data Analyst,ACENET TECHNOLOGIES,10 - 15 yrs,"Gurgaon, Delhi, Delhi/NCR, Pune, Bengaluru...",https://www.timesjobs.com/job-detail/data-anal...,"\r\rbi,dashboards,data analyst,sql,tableau\r\r"
3,Data Analyst,Koch Global Business Services,0 - 3 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/data-anal...,"\r\rfunctional analyst,dashboards,data analyti..."
4,Data Analyst,Zealogics LLC.,0 - 3 yrs,NaN,https://www.timesjobs.com/job-detail/data-anal...,"data analysis,gap analysis,data analyst,securi..."
...,...,...,...,...,...,...
245,\rSenior Data Analyst,PUBLICIS GROUPE,5 - 9 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/senior-da...,"\r\rsql,hadoop,big data,crm,python,sas,system ..."
246,\rSenior Data Analyst,Epsilon,5 - 9 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/senior-da...,"\r\rsql,hadoop,big data,crm,python,sas,system ..."
247,Data Analyst Data and Analytics,Intel Technology India Pvt Ltd,0 - 3 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/data-anal...,"\r\rmetadata,information technology,data quali..."
248,\rSr. Marketing Data Analyst,AlphaSense,5 - 8 yrs,New York City,https://www.timesjobs.com/job-detail/sr-market...,"\r\rdigital marketing,customer marketing,campa..."
249,\rProduct Data Analyst,TARGET,4 - 7 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/product-d...,"\r\rhive,data mining,sql,testing tools,big dat..."

In [37]:
df.replace("", float("NaN"), inplace=True) #removing empty rows
df.dropna(inplace = True)
df.reset_index(drop = True, inplace = True)

df

,job_titles,company_names,experiences,locations,descriptions_url,skills_sets
0,Data Analyst,infoanalytica consulting pvt ltd,5 - 8 yrs,Ahmedabad,https://www.timesjobs.com/job-detail/data-anal...,"\r\rbusiness rules,sql,Data Analyst"
1,Data Analyst,ikomet Technology Solutions Pvt. Ltd.,0 - 3 yrs,Chennai,https://www.timesjobs.com/job-detail/data-anal...,"\r\rmacros,visualization,bi,data analyst,vba\r\r"
2,Data Analyst,ACENET TECHNOLOGIES,10 - 15 yrs,"Gurgaon, Delhi, Delhi/NCR, Pune, Bengaluru...",https://www.timesjobs.com/job-detail/data-anal...,"\r\rbi,dashboards,data analyst,sql,tableau\r\r"
3,Data Analyst,Koch Global Business Services,0 - 3 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/data-anal...,"\r\rfunctional analyst,dashboards,data analyti..."
4,Data Analyst,ADROIT LEARNING AND MANPOWER PVT LTD,7 - 10 yrs,Ahmedabad,https://www.timesjobs.com/job-detail/data-anal...,"data analysis,dashboards,data analyst,sql,tabl..."
...,...,...,...,...,...,...
196,\rSenior Data Analyst,PUBLICIS GROUPE,5 - 9 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/senior-da...,"\r\rsql,hadoop,big data,crm,python,sas,system ..."
197,\rSenior Data Analyst,Epsilon,5 - 9 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/senior-da...,"\r\rsql,hadoop,big data,crm,python,sas,system ..."
198,Data Analyst Data and Analytics,Intel Technology India Pvt Ltd,0 - 3 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/data-anal...,"\r\rmetadata,information technology,data quali..."
199,\rSr. Marketing Data Analyst,AlphaSense,5 - 8 yrs,New York City,https://www.timesjobs.com/job-detail/sr-market...,"\r\rdigital marketing,customer marketing,campa..."
200,\rProduct Data Analyst,TARGET,4 - 7 yrs,Bengaluru / Bangalore,https://www.timesjobs.com/job-detail/product-d...,"\r\rhive,data mining,sql,testing tools,big dat..."

In [38]:
# remove irrelevant html text from skills and job & title
df['job_titles'] = df['job_titles'].str.replace(r'\r', '')
df['skills_sets'] = df['skills_sets'].str.replace(r'\r', '')

C:\Users\Moaaz\AppData\Local\Temp/ipykernel_22836/1606460935.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['job_titles'] = df['job_titles'].str.replace(r'\r', '')
C:\Users\Moaaz\AppData\Local\Temp/ipykernel_22836/1606460935.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['skills_sets'] = df['skills_sets'].str.replace(r'\r', '')

In [39]:
#grouping skills as a form of bag 
df['skills_sets'] = df.skills_sets.apply(lambda x: x[:].split(','))

In [45]:
#attempt to categorize experience
df2 = df.groupby(['experiences'])['experiences'].count()
df2

experiences
0 - 1 yrs       8
0 - 2 yrs       3
0 - 3 yrs      51
0 - 9 yrs       1
1 - 2 yrs       4
1 - 3 yrs       2
1 - 4 yrs       5
1 - 6 yrs       2
10 - 12 yrs     1
10 - 15 yrs     1
13 - 16 yrs     2
2 - 10 yrs      1
2 - 3 yrs       4
2 - 4 yrs       4
2 - 5 yrs      14
2 - 6 yrs       2
2 - 7 yrs       1
2 - 8 yrs       1
3 - 10 yrs      1
3 - 12 yrs      2
3 - 4 yrs       2
3 - 5 yrs       9
3 - 6 yrs      12
3 - 7 yrs       1
3 - 8 yrs       2
4 - 5 yrs       1
4 - 6 yrs       1
4 - 7 yrs      12
4 - 8 yrs       5
4 - 9 yrs       2
5 - 10 yrs      1
5 - 6 yrs       1
5 - 7 yrs       4
5 - 8 yrs      19
5 - 9 yrs       6
6 - 9 yrs       3
7 - 10 yrs      3
7 - 8 yrs       2
7 - 9 yrs       1
8 - 11 yrs      2
8 - 12 yrs      1
9 - 12 yrs      1
Name: experiences, dtype: int64

In [47]:
#load data as ready-to-go dataset of 201 instance
df.to_csv("data analyst jobs dataset.csv")